@import '../../paleta_ocp.scss';
//DIALOG CSS
.mat-dialog-title {
    mat-icon {
        opacity: 0.7;
        position: relative;
        bottom: -7px;
    }

    span {
        color: $cyan;
        font-size: 0.8em;
    }

    .title-detail {
        font-size: 0.6em;
        color: $gris-1;
        line-height: 1;
    }
}

p {
    margin-bottom: $small-padding;
}