@import "../../paleta_ocp.scss";

.navigatorBar {
    border-radius: $standard-radius $standard-radius 0 0;
    position:relative;
    z-index: 55;
    background-color: $blue;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-shadow:0 2px 5px #aaa;
    overflow-x: auto;
    overflow-y: hidden;
    a {
        text-decoration: none;
        color: $white;
        padding: $small-padding calc(#{$standard-padding} * 2);
        font-size: 13px;
        border-bottom: 3px solid transparent;
        transition: 0.5s;
        opacity: 0.7;
        white-space: nowrap;
    }
    a:hover {
        border-bottom-color: $white;
        transition: 0.5s;
    }
    .active {
        border-bottom: 3px solid $white;
        font-weight: bold;
        opacity: 1;
    }
}