<div class="background">
  <div class="center-column">
    <a class="logo" [routerLink]="['']">
      <img src="./assets/images/OCP-logo_login.png" alt="OCP">
    </a>

    <div *ngIf="!error && !enviado" class="message regular">
      <span>{{'forgotPw.msjRememberPass1' | translate}}</span>
      <span>{{'forgotPw.msjRememberPass2' | translate}}</span>
      <span>{{'forgotPw.msjRememberPass3' | translate}}</span>
    </div>

    <div *ngIf="error" class="message error">
      <span> {{'forgotPw.errorEmail1' | translate}}</span>
      <span>{{'forgotPw.errorEmail2' | translate}}</span>
    </div>

    <div *ngIf="enviado" class="message success">
      <span>{{'forgotPw.msjReset1' | translate}}</span>
      <span>{{'forgotPw.msjReset2' | translate}}</span>
    </div>

    <div [hidden]="enviado" class="loginContainer">
      <form [formGroup]="resetPasswordForm">
        <mat-form-field>
          <input required #email id="usuario" type="email" placeholder="{{'config.user.email' | translate}}" matInput formControlName="email">
          <mat-error *ngIf="emailFormControl.hasError('required') && !emailFormControl.hasError('pattern')">
            {{'login.noEmailError' | translate }}
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
            {{'login.wrongEmailError' | translate }}
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="requestPassword(email.value)">{{'general.access' | translate | uppercase}}</button>
      </form>
    </div>

    <div *ngIf="enviado" class="loginContainer">
      <div class="nollego">
        <span>{{'forgotPw.notArrived' | translate}}</span>
      </div>
      <button mat-raised-button color="primary" (click)="requestPassword(email.value)">{{'forgotPw.resendEmail' | translate | uppercase}}</button>
      <button mat-raised-button [routerLink]="['']">{{'forgotPw.backStart' | translate | uppercase}}</button>
    </div>

    <div class="derechos">
      <span>{{'general.copyright' | translate}}</span>
      <span>{{'general.rightsReserved' | translate}}</span>
    </div>

  </div>
</div>