@import '../../../paleta_ocp.scss';

.forbidden-flex {
    display: flex;
    padding: $standard-padding;
    font-size: 1.3em;
    align-items: center;
    color: $titulos;

    .mat-icon {
        color: $error;
        margin-right: $standard-padding;
        font-size: 5em;
        width: 1em;
        height: 1em;
    }
    h2 {
        margin-bottom: $small-padding;
    }
}