<h1 mat-dialog-title>{{ 'config.apis.api' | translate }}
    <mat-icon>&#xE315;</mat-icon>
    <span>{{ 'config.apis.addToken' | translate }}</span>
</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-select [(ngModel)]="data.apiTypeId" placeholder="{{ 'config.apis.add.apiType' | translate }}" required [formControl]="apiTypeFormControl">
            <mat-option>{{ 'config.apis.add.apiTypeSelect' | translate }}</mat-option>
            <mat-option *ngFor="let type of apiTypes" [value]="type.id">{{type.description}}</mat-option>
        </mat-select>
        <mat-error *ngIf="apiTypeFormControl.hasError('required')">{{'config.apis.add.noApiTypeError' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input required matInput [formControl]="labelFormControl" [(ngModel)]="data.label" placeholder="{{ 'config.apis.label' | translate }}">
        <mat-error *ngIf="labelFormControl.hasError('required')">{{'config.apis.add.noLabelError' | translate}}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()" tabindex="-1">{{ 'general.cancel' | translate| uppercase}}</button>
    <button mat-raised-button color="accent" (click)="saveToken()" tabindex="2">{{ 'general.save' | translate| uppercase}}</button>
</div>