<div class="background">
  <div class="center-column">
    <a [routerLink]="['']" class="logo">
      <img src="./assets/images/OCP-logo_login.png" alt="OCP">
    </a>

    <div *ngIf="!error" class="message success">
      <span>{{'resetPw.msjRestore1' | translate}}</span>
      <span>{{'resetPw.msjRestore2' | translate}}</span>
    </div>

    <div *ngIf="error" class="message error">
      <span>{{'resetPw.errorPw1' | translate}}</span>
      <span>{{'resetPw.errorPw2' | translate}}</span>
    </div>

    <div class="loginContainer">

      <mat-form-field>
        <input #password id="password" type="password" matInput placeholder="{{'login.password' | translate}}">
      </mat-form-field>

      <mat-form-field>
        <input #password2 id="password2" type="password" matInput placeholder="{{'resetPw.repeatPw' | translate}}">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="reestablecerPassword(password.value, password2.value)">{{'general.save' | translate | uppercase}}</button>

    </div>

    <div class="derechos">
      <span>{{'general.copyright' | translate}}</span>
      <span>{{'general.rightsReserved' | translate}}</span>
    </div>

  </div>
</div>