// VARIABLES
$height-nav: 60px;
$padding-nav: 10px;
$standard-padding: 24px;
$small-padding: 16px;

$standard-radius: 2px;

// Palette
$divider-bg: #001d2e;
$divider-border: #1a3e53;

$dark-blue: #002840;

$blue: #003556;
$cyan: #0d8fd9;

$bg-body: #efefef;

$gris-1: #a7a7a7;
$gris-2: #dddddd;
$titulos: #535b60;
$success: #33691E;
$error: #B71C1C;

// TEXTOS SIDEBAR

$white: #ffffff;
