<h1 mat-dialog-title>
    {{'general.map' | translate}}
    <mat-icon>&#xE315;</mat-icon>
    <span>
        {{'config.store.edit.floor.deleteMap' | translate}}
    </span>
</h1>
<div mat-dialog-content>
    <p>
        {{'config.store.edit.floor.alertDeleteMap' | translate:data}}
    </p>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()" tabindex="-1">{{'general.cancel' | translate | uppercase}}</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="data" tabindex="2">{{'general.delete' | translate | uppercase}}</button>
</div>